@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4FBFC;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    color: #223867;
    height: 100%;
}

.wrapper {
    width: 1200px;
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(224, 247, 252, 0.583333) 25.87%,
        #caf2fa 100%
    );
}